$planetColors: (
  sun: #cc9f4c,
  mercury: #999999,
  venus: #e8cda2,
  earth: #b3caff,
  mars: #c07158,
  jupiter: #c9b5a4,
  saturn: #f0e2c4,
  uranus: #b8d8e1,
  neptune: #5e73bb,
  pluto: #c3b6aa,
);
