$planetImgUrls: (
    sun: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/sun.jpg),
    mercury: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mercury2.jpg),
    venus: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/venus2.jpg),
    earth: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/earth.jpg),
    mars: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/mars.jpg),
    jupiter: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/jupiter.jpg),
    saturn: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/saturn.jpg),
    uranus: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/uranus2.jpg),
    neptune: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/neptune.jpg),
    pluto: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/332937/pluto.jpg),
);
