@use "../mixins/planet" as *;
@use "../variables/info" as *;
@use "../variables/colors" as *;
@use "../mixins/size" as *;

.planet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .planet__contents {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.sun {
  position: relative;
  transform: translateZ(400vw);
  @include getPlanetDesc("sun");
  @include planetization("sun");
}
.mercury {
  transform: translateZ(200vw);
  @include getPlanetDesc("mercury");
  @include planetization("mercury");
}

.venus {
  transform: translateZ(-10vw);
  @include getPlanetDesc("venus");
  @include planetization("venus");
}

.earth {
  transform: translateZ(-200vw);
  @include getPlanetDesc("earth");
  @include planetization("earth");
}

.mars {
  transform: translateZ(-400vw);
  @include getPlanetDesc("mars");
  @include planetization("mars");
}

.jupiter {
  transform: translateZ(-600vw);
  @include getPlanetDesc("jupiter");
  @include planetization("jupiter");
}

.saturn {
  transform: translateZ(-800vw);
  @include getPlanetDesc("saturn");
  @include planetization("saturn");
}

.uranus {
  transform: translateZ(-1000vw);
  @include getPlanetDesc("uranus");
  @include planetization("uranus");
}

.neptune {
  transform: translateZ(-1200vw);
  @include getPlanetDesc("neptune");
  @include planetization("neptune");
}

.pluto {
  transform: translateZ(-1400vw);
  @include getPlanetDesc("pluto");
  @include planetization("pluto");
}

.title {
  position: absolute;
  bottom: 25%;
  left: 50%;
  color: white;
  font-size: 5rem;
  transform: translateX(-50%);

  @include breakpoint("lg") {
    font-size: 6rem;
    bottom: -20;
  }
}

.hidden {
  visibility: hidden;
}
