body {
  height: 500vw;
  font-family: "Apple SD Gothic Neo", "Roboto", "Noto Sans KR", NanumGothic,
    "Malgun Gothic", sans-serif;
  -webkit-overflow-scrolling: touch;
  color: #555;
  background-image: url("/src/images/background.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.world {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;

  .stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform-style: preserve-3d;
    /* 줌 아웃 */
    transform: translateZ(-490vw);
  }
}
