// Reset Box Model
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Reset Typography
body {
  line-height: 1;
}

// Reset List Styles
ol,
ul {
  list-style: none;
}

// Reset Links
a {
  text-decoration: none;
  color: inherit;
}

// Reset Forms
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  appearance: none;
  background-color: transparent;
  &::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
  }
  &::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
  }
  &:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
  }
  &::-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
  }
  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }
}

// Reset Button Styles
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

// Reset Images
img {
  max-width: 100%;
  height: auto;
}
